<section class="bg-dark">
    <footer class="footer ">
        <div class="container ">
            <div class="row text-center">
                <div class="col-md-12 text-white ">
                    Copyright mentions légales
                </div>
            </div>
        </div>
    </footer>
</section>