<div class="photo-gallery bg-secondary">
        <div class="container pt-4">

                <div class="row">
                        <div class="col-md-12 text-center  mb-3 ">
                                <h3 class="text-white">Galerie des réalisations</h3>
                                <p class="underlined mx-auto bg-white"></p>
                        </div>
                </div>


                <div class="row photos zoom">
                        <div class="col-sm-6 col-md-4 col-lg-3 item animate__animated animate__backInLeft "><a
                                        href="assets/images/Cuisine/real1.jpg" data-lightbox="photos"><img
                                                class="img-fluid" src="assets/images/Cuisine/real1.jpg"></a></div>

                        <div class="col-sm-6 col-md-4 col-lg-3 item animate__animated animate__backInLeft"><a
                                        href="assets/images/Cuisine/real2.jpg" data-lightbox="photos"><img
                                                class="img-fluid" src="assets/images/Cuisine/real2.jpg"></a>
                        </div>

                        <div class="col-sm-6 col-md-4 col-lg-3 item animate__animated animate__backInRight"><a
                                        href="assets/images/Cuisine/real3.jpg" data-lightbox="photos"><img
                                                class="img-fluid" src="assets/images/Cuisine/real3.jpg"></a>
                        </div>

                        <div class="col-sm-6 col-md-4 col-lg-3 item animate__animated animate__backInRight"><a
                                        href="assets/images/Cuisine/real4.jpg" data-lightbox="photos"><img
                                                class="img-fluid" src="assets/images/Cuisine/real4.jpg"></a>
                        </div>

                        <div class="col-sm-6 col-md-4 col-lg-3 item animate__animated animate__backInLeft"><a
                                        href="assets/images/Cuisine/real5.jpg" data-lightbox="photos"><img
                                                class="img-fluid" src="assets/images/Cuisine/real5.jpg"></a>
                        </div>

                        <div class="col-sm-6 col-md-4 col-lg-3 item animate__animated animate__backInLeft"><a
                                        href="assets/images/Cuisine/real6.jpg" data-lightbox="photos"><img
                                                class="img-fluid" src="assets/images/Cuisine/real6.jpg"></a>
                        </div>

                         <div class="col-sm-6 col-md-4 col-lg-3 item animate__animated animate__backInRight"><a
                                        href="assets/images/Cuisine/real7.jpg" data-lightbox="photos"><img
                                                class="img-fluid" src="assets/images/Cuisine/real7.jpg"></a>
                        </div>

                         <div class="col-sm-6 col-md-4 col-lg-3 item animate__animated animate__backInRight"><a
                                        href="assets/images/Cuisine/real8.jpg" data-lightbox="photos"><img
                                                class="img-fluid" src="assets/images/Cuisine/real8.jpg"></a>
                        </div>


                       




                        <a href="assets/images/Cuisine/real9.jpg" data-lightbox="photos"></a>
                        <a href="assets/images/Cuisine/real10.jpg" data-lightbox="photos"></a>
                        <a href="assets/images/Cuisine/real11.jpg" data-lightbox="photos"></a>
                        <a href="assets/images/Cuisine/real12.jpg" data-lightbox="photos"></a>
                        <a href="assets/images/Cuisine/real13.jpg" data-lightbox="photos"></a>
                        <a href="assets/images/Cuisine/real14.jpg" data-lightbox="photos"></a>
                        




                </div>

        </div>
</div>