<section class="section1 min-vh-100 bg-dark pb-5">
    <div class="container ">
        <div class="row titresection1 text-center pt-4 pb-4">
            <div class="col-md-12">
                <h2>LES RÉALISATIONS</h2>
                <p class="underlinew mx-auto"></p>
            </div>

        </div>

        <div class="row mb-5">

            <div class="col-md-3 imgkitchen p-0" ><a href="./views/partials/lesRealisations/liensinternes/detailsRealisation"><img src="./assets/images/Cuisine/cuisine.jpg" alt=""
                    class="w-100 h-100" ></a></div>
            <div class="col-md-3 imgkitchen p-0"><a href="#"><img src="./assets/images/Cuisine/cuisine2.jpg" alt=""
                    class="w-100 h-100"></a></div>
            <div class="col-md-3 imgkitchen p-0"><a href="#"><img src="./assets/images/Cuisine/cuisine3.jpg" alt=""
                    class="w-100 h-100"></a></div>
            <div class="col-md-3 imgkitchen p-0 "><a href="#"><img src="./assets/images/Cuisine/cuisine4.jpg" alt=""
                    class="w-100 h-100"></a></div>
                    <div class="col-md-3 imgkitchen p-0"><a href="#"><img src="./assets/images/Cuisine/cuisine.jpg" alt=""
                    class="w-100 h-100"></a></div>
            <div class="col-md-3 imgkitchen p-0"><a href="#"><img src="./assets/images/Cuisine/cuisine2.jpg" alt=""
                    class="w-100 h-100"></a></div>
            <div class="col-md-3 imgkitchen p-0"><a href="#"><img src="./assets/images/Cuisine/cuisine3.jpg" alt=""
                    class="w-100 h-100"></a></div>
            <div class="col-md-3 imgkitchen p-0 "><a href="#"><img src="./assets/images/Cuisine/cuisine4.jpg" alt=""
                    class="w-100 h-100"></a></div>


        </div>

        
    </div>
</section>