<header>
    <div class="container text-center h-100 vh-100 ">
        <div class="row h-100 text-center align-items-center">
            <div class="col-md-12">
                <h1 class="mb-3 display-3">Menuiserie Margot</h1>
                <h2 class="diplay-3 mb-2">Artisan Menuisier
                    <h5>91260 Juvisy sur Orge</h4>
                </h2>
                <button type="button" class="btn btn-light mt-4 px-3 py-2">Contactez-nous</button>
            </div>
        </div>
    </div>
</header>