<div class="photo-gallery bg-dark py-4">
    <div class="container bg-dark">

        <div class="row pb-3">
            <div class="col-md-12 text-center  mb-5 pt-3 ">
                <h3 class="text-white">Gallerie des réalisations</h3>
                <p class="underlined mx-auto bg-white"></p>
            </div>





            <div class="row photos zoom mb-5">
                <div class="col-sm-6 col-md-3 col-lg-3 item mx-auto animate__animated animate__backInLeft "><a
                        href="assets/images/Cuisine/real1.jpg" data-lightbox="photos"><img class="img-fluid"
                            src="assets/images/Cuisine/real1.jpg"></a></div>

                <div class="col-sm-6 col-md-3 col-lg-3 item animate__animated animate__backInLeft"><a
                        href="assets/images/Cuisine/real2.jpg" data-lightbox="photos"><img class="img-fluid"
                            src="assets/images/Cuisine/real2.jpg"></a>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 item animate__animated animate__backInRight"><a
                        href="assets/images/Cuisine/real3.jpg" data-lightbox="photos"><img class="img-fluid"
                            src="assets/images/Cuisine/real3.jpg"></a>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 item animate__animated animate__backInRight"><a
                        href="assets/images/Cuisine/real4.jpg" data-lightbox="photos"><img class="img-fluid"
                            src="assets/images/Cuisine/real4.jpg"></a>
                </div>

                              


            </div>

            <button type="button" class="btn btn-light px-3 mx-auto mt-1 mb-5 "><a href="/lesRealisations"
                    class="text-dark">Toutes les photos</a> </button>
        </div>

    </div>
</div>