<div class="container-fluid">
    <div class="accordion" id="accordionExample">


        {{> pageAdmin/Clients/listeClients }}

        {{> pageAdmin/Devis/listeDevis }}

        {{> pageAdmin/Messages/listeMessages }}

        {{> pageAdmin/Realisations/listeRealisations }}

     

    </div>
</div>