<section class="">
    <div class="container">
        <div class="row bg-dark mt-5 mb-5">
            <div class="col-md-8 mx-auto">

                <div class="devis text-center mt-5 mb-4">
                    <h3 class="text-success">DEVIS en ligne gratuit !</h3>
                </div>

                <form action="/admin/createDevis" method="POST" >

                    {{!-- Demande de devis ou autres --}}

                    <div class="form-group mb-4">
                        <label for="exampleFormControlSelect1"></label>
                        <select class="form-control" name="entitled" id="exampleFormControlSelect1">
                            <option>Demande de devis</option>
                            <option>Question</option>
                            <option>Commentaires</option>

                        </select>
                        <div class="mb-4 mt-4 mx-auto col-md-12 text-center">
                            <label for="validationTooltip01 " class="text-white">Objet de la demande</label>
                            <input type="text " class="form-control" name="objectDevis" id="validationTooltip01 " value=" " required>
                            <div class="valid-tooltip ">
                                Looks good!
                            </div>
                        </div>
                    </div>

                    {{!-- Description de la demande --}}

                    <div class="form-group mb-4 text-center">
                        <label for="exampleFormControlTextarea1" class="text-white">Description</label>
                        <textarea class="form-control" name="contentDevis" id="exampleFormControlTextarea1" rows="2"></textarea>
                    </div>

                    {{!-- Nom --}}

                    <div class="nomPrenom d-flex justify-content-center">

                        <div class="mb-4 mx-auto col-md-6 text-center">
                            <label for="validationTooltip01 " class="text-white">Nom</label>
                            <input type="text " class="form-control" name="nameDevis" id="validationTooltip01 " value=" " required>
                            <div class="valid-tooltip ">
                                Looks good!
                            </div>
                        </div>

                        {{!-- Prénom --}}

                        <div class="mb-4 mx-auto col-md-6 text-center">
                            <label for="validationTooltip01 " class="text-white">Prénom</label>
                            <input type="text " class="form-control" name="firstNameDevis" id="validationTooltip01 " value=" " required>
                            <div class="valid-tooltip ">
                                Looks good!
                            </div>
                        </div>
                    </div>

                    {{!-- Adresse e-mail --}}

                    <div class="form-group mb-3 text-center">
                        <label for="exampleFormControlInput1" class="text-white">Adresse E-mail</label>
                        <input type="email" class="form-control" name="emailDevis" id="exampleFormControlInput1"
                            placeholder="name@example.com">
                    </div>

                    <div class="row ">
                        <div class="col-md-12 button text-center ">
                            <button type="submit" class="btn btn-success px-4 py-2 mt-3 mb-5">Envoyer</button>
                        </div>
                    </div>
                </form>

                

                
            </div>








            </div>
        </div>
    </div>

</section>






</section>