<section class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt-5 mb-5 text-white">
                <h3>Diplômes et Récompenses</h3>
                <p class="underlinew mx-auto"></p>
            </div>
        </div>

        {{!-- Image 1 ====================== --}}

        <div class="row">

            <div class="col-md-6 d-flex justify-content-center d-flex align-items-center">
                <img src="/assets/images/diplome-test.jpg" alt="diplôme1">
            </div>
            <div class="col-md-6 d-flex justify-content-center d-flex align-items-center text-white"> C<h4>CAP Menuiserie
                Compagnons du Tour de France</h4>
            </div>




            {{!-- Image 2 ==================== --}}

            <div class="col-md-6 d-flex justify-content-center d-flex align-items-center">
                <img src="/assets/images/diplome-test.jpg" alt="diplôme1">
            </div>
            <div class="col-md-6 d-flex justify-content-center d-flex align-items-center text-white"> <h4>CAP Menuiserie
                Compagnons du Tour de France</h4>
            </div>

            {{!-- Image 3 =================== --}}

            <div class="col-md-6 d-flex justify-content-center d-flex align-items-center">
                <img src="/assets/images/diplome-test.jpg" alt="diplôme1">
            </div>
            <div class="col-md-6 d-flex justify-content-center d-flex align-items-center text-white"> <h4>CAP Menuiserie
                Compagnons du Tour de France</h4>
            </div>

            {{!-- Image 4 ==================== --}}

            <div class="col-md-6 d-flex justify-content-center d-flex align-items-center">
                <img src="/assets/images/diplome-test.jpg" alt="diplôme1">
            </div>
            <div class="col-md-6 d-flex justify-content-center d-flex align-items-center text-white"> <h4>CAP Menuiserie
                Compagnons du Tour de France</h4>
            </div>
        </div>
    </div>
</section>