<section class="bg-dark">
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-md-12 text-center mt-5 mb-5">
                <h3 class="text-white">Diplômes et Récompenses</h3>
                <p class="underlined  mx-auto bg-white"></p>
            </div>
        </div>

        {{!-- Image 1 ====================== --}}

        <div class="row">

            <div class="col-md-6 d-flex justify-content-center d-flex align-items-center my-5">
                <img src="/assets/images/Diplomes/cap.jpg" alt="diplôme1">
            </div>
            <div class="col-md-6 d-flex justify-content-center d-flex align-items-center text-white">
                <h4>CAP
                    Menuiserie
                    Compagnons du Tour de France</h4>
            </div>




            {{!-- Image 2 ==================== --}}
            <div class="col-md-6 d-flex justify-content-center d-flex align-items-center text-white">
                <h4>Brevet Professionnel
                    Compagnons du Tour de France</h4>
            </div>
            <div class="col-md-6 d-flex justify-content-center d-flex align-items-center my-5">
                <img src="/assets/images/Diplomes/bp.jpg" alt="diplôme1">
            </div>


            {{!-- Image 3 =================== --}}

            <div class="col-md-6 d-flex justify-content-center d-flex align-items-center my-5">
                <img src="/assets/images/Diplomes/certif-conduc.jpg" alt="diplôme1">
            </div>
            <div class="col-md-6 d-flex justify-content-center d-flex align-items-center text-white">
                <h4 class="text-center">Certificat de conducteurr de travaux en menuiserie de bâtiment et d'agencement
                </h4>
            </div>
        </div>
    </div>
</section>