<!--============= Qui sommes nous? ================================= -->

<div class="container-fluid bg-parcours text-center">

    {{!-- Titre --}}

    <div class="row "  >
        <div class="col-md-12 mt-3 animate__animated animate__backInLeft"  >
            <h3>Qui sommes-nous ?</h3>
            <p class="underlined  mx-auto"></p>
        </div>        
    </div>

    {{!-- Fin du titre --}}
    
    <div class="row animate__animated animate__backInLeft mb-2">
        <div class="col-md-12 ">
            <h4>2019</h4>
            <div class="verticalline mx-auto"></div>
            <p class="font-weight-bold" >Ouverture de l'entreprise Menuiserie Margot</p>
        </div>
    </div>

    <div class="row animate__animated animate__backInLeft mb-2">
        <div class="col-md-12  ">
            <h4>2017</h4>
            <div class="verticalline mx-auto"></div>
            <p class="font-weight-bold" >Trophée du meilleur conducteur de travaux en Menuiserie au sein de Ridoret Menuiserie</p>
        </div>
    </div>

    <div class="row animate__animated animate__backInRight mb-2">
        <div class="col-md-12">
            <h4>2013 - 2018</h4>
            <div class="verticalline mx-auto"></div>
            <p class="font-weight-bold" >Conducteur de travaux en Menuiserie chez Ridoret Menuiserie</p>
        </div>
    </div>

    {{!-- Certification conducteur de travaux --}}

    <div class="row animate__animated animate__backInLeft mb-4">
        <div class="col-md-12">
            <h4>2013 - 2014</h4>
            <div class="verticalline mx-auto"></div>
            <p class="font-weight-bold" >Certificat de Qualifications Professionnelles conducteur de travaux en Menuiserie  </p>        
        </div>
        <div class="col-md-4 mx-auto ">
             <button type="button" class="btn btn-dark d-flex mx-auto"><span class="material-icons mr-2">remove_red_eye</span><a class="text-decoration-none text-light" href="/assets/images/Diplomes/certif-conduc.jpg">Voir diplôme</a> </button>
        </div>
       
    </div>

    {{!-- Fin Certification conducteur de travaux --}}


    {{!-- Brevet pro --}}

    <div class="row animate__animated animate__backInRight mb-4">
        <div class="col-md-12">
            <h4>2011 - 2013</h4>
            <div class="verticalline mx-auto"></div>
            <p class="font-weight-bold" >Formation Brevet Professionnel Menuiserie aux compagnons du Tour de France </p>
        </div>
        <div class="col-md-4 mx-auto ">
             <button type="button" class="btn btn-dark d-flex mx-auto"><span class="material-icons mr-2">remove_red_eye</span><a class="text-decoration-none text-light" href="/assets/images/Diplomes/bp.jpg">Voir diplôme</a> </button>
        </div>
    </div>

    {{!-- Fin Brevet pro --}}


    <div class="row animate__animated animate__backInLeft mb-2">
        <div class="col-md-12 ">
            <h4>2010 - 2011</h4>
            <div class="verticalline mx-auto"></div>
            <p class="font-weight-bold" >Médaille d'or au concours des Meilleurs Aprentis de France </p>
        </div>
    </div>

    {{!-- CAP --}}

    <div class="row animate__animated animate__backInRight mb-4 ">
        <div class="col-md-12 mt-3 ">
            <h4>2009 - 2011</h4>
            <div class="verticalline mx-auto"></div>
            <p class="font-weight-bold" >Formation CAP Menuiserie aux compagnons du tour de France</p>
        </div>
        <div class="col-md-4 mx-auto ">
             <button type="button" class="btn btn-dark d-flex mx-auto"><span class="material-icons mr-2">remove_red_eye</span><a class="text-decoration-none text-light" href="/assets/images/Diplomes/cap.jpg">Voir diplôme</a> </button>
        </div>
    </div>

    {{!-- Fin CAP --}}

   

</div>





   

    

    

    

   

   

    