<!--============= Qui sommes nous? ================================= -->

<div class="container text-center">
    <div class="row">
        <div class="col-md-12 mt-5 mb-5 ">
            <h3>Qui sommes-nous ?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3 mb-4">
            <h4>2009 - 2011</h4>
            <div class="verticalline mx-auto"></div>
            <p>Formation CAP Menuiserie aux compagnons du tour de France</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-4">
            <h4>2010 - 2011</h4>
            <div class="verticalline mx-auto"></div>
            <p>Concours Meilleur Apprenti de France : Médaille d'or île de France</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>2013</h4>
            <div class="verticalline mx-auto"></div>
            <p>Formation CAP Menuiserie aux compagnins du tour de France</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>2013</h4>
            <div class="verticalline mx-auto"></div>
            <p>Formation CAP Menuiserie aux compagnins du tour de France</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>2013</h4>
            <div class="verticalline mx-auto"></div>
            <p>Formation CAP Menuiserie aux compagnins du tour de France</p>
        </div>
    </div>

</div>