<!--============= Qui sommes nous? ================================= -->

<div class="container text-center">

     <div class="row "  >
        <div class="col-md-12 mt-5 mb-2 animate__animated animate__backInLeft"  >
            <h3>Qui sommes-nous ?</h3>
            <p class="underlined  mx-auto"></p>
        </div>        
    </div>
    
    <div class="row animate__animated animate__backInLeft">
        <div class="col-md-12 mb-2">
            <h4>2019</h4>
            <div class="verticalline mx-auto"></div>
            <p>Ouverture de l'entreprise Menuiserie Margot</p>
        </div>
    </div>

    <div class="row animate__animated animate__backInLeft">
        <div class="col-md-12 mb-2 mb-4">
            <h4>2017</h4>
            <div class="verticalline mx-auto"></div>
            <p>Trophée du meilleur conducteur de travaux en Menuiserie au sein de Ridoret Menuiserie</p>
        </div>
    </div>

    <div class="row animate__animated animate__backInRight">
        <div class="col-md-12 mb-4">
            <h4>2013 - 2018</h4>
            <div class="verticalline mx-auto"></div>
            <p>Conducteur de travaux en Menuiserie chez Ridoret Menuiserie</p>
        </div>
    </div>

    <div class="row animate__animated animate__backInLeft">
        <div class="col-md-12 mb-4">
            <h4>2013 - 2014</h4>
            <div class="verticalline mx-auto"></div>
            <p>Certificat de Qualifications Professionnelles conducteur de travaux en Menuiserie</p>
        </div>
    </div>

    <div class="row animate__animated animate__backInRight">
        <div class="col-md-12 mb-4">
            <h4>2011 - 2013</h4>
            <div class="verticalline mx-auto"></div>
            <p>Formation Brevet Professionnel Menuiserie aux compagnons du Tour de France </p>
        </div>
    </div>

    <div class="row animate__animated animate__backInLeft">
        <div class="col-md-12 mb-4">
            <h4>2010 - 2011</h4>
            <div class="verticalline mx-auto"></div>
            <p>Médaille d'or au concours des Meilleurs Aprentis de France </p>
        </div>
    </div>

    <div class="row animate__animated animate__backInRight ">
        <div class="col-md-12 mt-3 mb-4">
            <h4>2009 - 2011</h4>
            <div class="verticalline mx-auto"></div>
            <p>Formation CAP Menuiserie aux compagnons du tour de France</p>
        </div>
    </div>

   

</div>





   

    

    

    

   

   

    